
<%= form_for @user do |u| %>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Name</span>
  <%=  u.text_field :name%>
</div>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Post</span>
  <%=  u.text_area :post%>
</div>

<%= u.submit "Post Me!" %>
<% end %>

<% @users.each do |w| %>
<h3><%= w.name %></h3>
<p><%= w.post %></p>
<% end %>
